*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body{
    background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

div.wrapper{
    margin: 50px auto;
    width: fit-content;
    animation-name: drop;
    animation-duration: 1s;
    
}

.wrapper .head{
    width: 700px;
    height: fit-content;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    padding: 20px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .head div:first-child{
    width: fit-content;
}

.wrapper .head div:last-child{
    height: 120px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .head div:last-child span:first-child{
    letter-spacing: 2px;
    font-weight: 600;
    color: hsl(229, 64%, 46%);
}

.wrapper .head div:last-child span:last-child{
    font-weight: 700;
    font-size: 60px;
    padding: 0;
    line-height: 55px;
    color: hsl(250, 9.8%, 36.1%);
}

/* RULES */

.rule{
    padding: 10px 30px;
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    border: 2px solid hsl(217, 16%, 45%);
    background-color: transparent;
    border-radius: 7px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}

.rule-modal{
    background-color: white;
    height: fit-content;
    width: 420px;
    border-radius: 15px;
    padding: 30px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 98;
}

.rule-modal div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rule-modal div span:first-child{
    font-size: 35px;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
}

.rule-modal div:last-child{
    margin: 50px auto;
    margin-bottom: 10px;
    width: fit-content;
}

.modal-cover{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-close{
    cursor: pointer;
}

.modal-cover,
.rule-modal{
    display: none;
}

.show{
    display: block;
}

/* END GAME */

.end-game-cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: show;
    animation-duration: 0.2s;
    display: none;
}

.end-game{
    position: absolute;
    z-index: 100;
    height: 250px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    letter-spacing: 1px;
    animation-name: show-two;
    animation-duration: 0.5s;
    display: none;
}

.end-game span {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: hsl(230, 89%, 65%);
}

.end-game button{
    font-size: 20px;
    padding: 10px;
    width: 250px;
    margin: auto;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid hsl(214, 47%, 23%);
    color: hsl(214, 47%, 23%);
    cursor: pointer;
}

.end-game button:hover{
    transform: scale(1.1);
    transition: transform 200ms ease;
}



/* FIRST PAGE */
.main .game-pick-display{
    margin: auto;
    margin-top: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    width: fit-content;
    animation-name: show;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.main .choice-btn{
    border: 30px solid ;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    cursor: pointer;
}

.main .game-pick-display .choice-btn{
    position: absolute;
}

.main .game-pick-display .choice-btn:hover{
    transform: scale(1.1);
}

.main .choice-btn .choice-btn-inner{
    background-color: hsl(225, 33%, 95%);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 0px 10px rgba(76, 64, 148, 0.208) inset;
}

.main .choice-btn .choice-btn-inner img{
    height: auto;
    width: 45%;
}

.main .game-pick-display .choice-rock{
    bottom: -110px;
    left: calc(50% - 110px);

}

.main .choice-rock{
    background-color: aqua;
    border-color: hsl(349, 70%, 56%);
    box-shadow: 0px 10px hsl(349, 71%, 40%);
}

.main .game-pick-display .choice-scissors{
    top: -110px;
    right: -110px;
}

.main .choice-scissors{
    border-color: hsl(40, 84%, 53%);
    box-shadow: 0px 10px hsl(39, 99%, 37%);
}

.main .game-pick-display .choice-paper{
    top: -110px;
    left: -110px;
}

.main .choice-paper{
    border-color: hsl(230, 89%, 65%);
    box-shadow: 0px 10px hsl(230, 59%, 50%);
}



/* SECOND PAGE */
.main .game-round-display{
    display: flex;
    width: 970px;
    justify-content: space-between;
    margin-top: 80px;
    position: relative;
    display: none;
    animation-name: zoom-in;
    animation-delay: -0.1s;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.main .game-round-display .player-box{
    display: flex;
    gap: 70px;
    justify-content: center;
    flex-direction: column;
}

.main .game-round-display .player-box span{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
}

.main .game-round-display .choice-btn{
    height: 300px;
    width: 300px;
}

.main .game-round-display .declare-box{
    position: absolute;
    bottom: 100px;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    flex-direction: column;
}

.main .game-round-display .declare-box span{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    color: white;
}

.main .game-round-display .declare-box p{
    font-size: 22px;
    text-align: center;
    color: hsl(230, 89%, 65%);

}

.main .game-round-display .declare-box button{
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: hsl(349, 70%, 56%);
}



/* FUNCTIONALITY */
.main .disappear{
    display: none;
}

.main .appear{
    display: flex;
    transform: scale(10);
}


/* ANIMATION */
@keyframes show{
    from{filter: opacity(0);}
    to{filter: opacity(1);}
}

@keyframes show-two{
    from{top: -300px;}
    to{top: 50%;}
}

@keyframes zoom-in{
    0% {transform: scale(20);}
    70% {transform: scale(0.8);}
    100% {transform: scale(1);}
}

@keyframes drop{
    0% {margin-top: -250px;}
    70% {margin-top: 100px;}
    100% {margin-top: 50px;}
}


/* RESONSIVENESS */

@media only screen and (max-width: 1064px){
    .main .game-round-display .choice-btn {
        height: 220px;
        width: 220px;
    }

    .main .game-round-display {
            width: 800px;
        }

    .main .game-round-display .declare-box{
        bottom: 30px;
    }
}



@media only screen and (max-width: 900px){

    .main .game-round-display {
        width: 700px;
    }

    .main .game-round-display .declare-box span{
        font-size: 45px;
    }

    .main .game-round-display .declare-box button{
        font-size: 12px;
    }

    .main .game-round-display .declare-box p{
        font-size: 18px;
    }

}

@media only screen and (max-width: 780px){
    .main .game-round-display{
        width: 600px;
        margin: auto;
        margin-top: -10px;
    }

    .main .game-round-display .player-box {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .main .game-round-display .declare-box {
        bottom: -200px;
    }

    .main .game-round-display .declare-box span {
        font-size: 60px;
    }

    .main .game-round-display .declare-box button {
        font-size: 15px;
    }

    .main .game-round-display .declare-box p{
        font-size: 25px;
    }
}


@media only screen and (max-width: 768px) {
    div.wrapper{
        width: 85vw;
        
    }
    
    .wrapper .head{
        padding: 3vw;
        padding-left: 4.5vw;
        border-radius: 1vw;
        width: 85vw;
        margin-top: 5vw;

    }

    .wrapper .head div:last-child{
        height: 15vw;
        width: 18vw;
        border-radius: 1vw;
    }

    .wrapper .head div:last-child span:first-child{
        font-size: 2vw;
    }

    .wrapper .head div:last-child span:last-child{
        font-size: 8vw;
        line-height: 7vw;
    }

    .wrapper .head div:first-child img{
        height: auto;
        width: 20vw;
    }

}

@media only screen and (max-width: 708px){
    .main .game-round-display{
        width: 500px;
    }
}

@media only screen and (max-width: 685px){
    .end-game{
        width: 90vw;
        padding: 6vw;
        height: 38vw;
    }

    .end-game span{
        font-size: 5.5vw;
    }

    .end-game button{
        font-size: 3vw;
        padding: 1.5vw;
        border-radius: 1.5vw;
        width: 38vw;
    }
}


@media only screen and (max-width: 600px){

    .main .game-round-display .choice-btn{
        width: 37vw;
        height: 37vw;
        border-width: 5vw;
    }

    .main .choice-btn{
        width: 37vw;
        height: 37vw;
        border-width: 5vw;
        display: grid;
        place-items: center;
    }

    .main .choice-btn .choice-btn-inner{
        height: 101%;
        width: 101%;
        box-shadow: 0px 2vw rgba(76, 64, 148, 0.208) inset;
    }

    .main .game-pick-display .choice-paper{
        box-shadow: 0px 2vw hsl(230, 59%, 50%);
        top: -18.5vw;
        left: -18.5vw;
    }

    .main .game-pick-display .choice-rock{
        box-shadow: 0px 2vw hsl(349, 71%, 40%);
        bottom: -18.5vw;
        left: calc(50% - 18.5vw);
    }

    .main .game-pick-display .choice-scissors{
        box-shadow: 0px 2vw hsl(39, 99%, 37%);
        top: -18.5vw;
        right: -18.5vw;
    }

    .main .game-round-display .choice-paper {
        box-shadow: 0px 2vw hsl(230, 59%, 50%);
    }

    .main .game-round-display .choice-rock {
        box-shadow: 0px 2vw hsl(349, 71%, 40%);
    }

    .main .game-round-display .choice-scissors {
        box-shadow: 0px 2vw hsl(39, 99%, 37%);
    }

    .main .triangle{
        height: auto;
        width: 50vw;
    }

    .main .game-round-display {
        width: 85vw;
    }

    .main .game-round-display .player-box span{
        font-size: 4vw;
    }
}



@media only screen and (max-width: 550px){
    .rule{
        right: calc(50vw - 61.01px);
    }

    .main .game-round-display .declare-box{
        width: 50vw;
    }
}

@media only screen and (max-width: 470px){
    .rule-modal{
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        padding: 30px 0px;
    }

    .modal-close{
        position: absolute;
        bottom: 50px;
        left: calc(50vw - 10px);
    }

    .rule-modal div{
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 120px;
    }

    .wrapper .head div:last-child{
        height: 19vw;
        width: 22vw;
    }

    .wrapper .head div:last-child span:last-child{
        line-height: 9vw;
        font-size: 10vw;
    }

    .wrapper .head div:last-child span:first-child{
        font-size: 3vw;
    }

    .wrapper .head div:first-child img{
        width: 22vw;
    }

    .wrapper .head{
        margin-top: 0px;
    }

    div.wrapper{
        margin-top: 40px;
    }

    .main .game-pick-display{
        margin-top: 15vh;
    }

    .rule-modal div{
        margin-bottom: 0;
    }

    @keyframes drop {
        0% {margin-top: -250px;}
        70% {margin-top: 100px;}
        100% {margin-top: 10vw;}
    }
}


@media only screen and (max-width: 458px){
    .main .game-round-display .declare-box{
        width: 60vw;
    }

    .main .game-round-display .declare-box span {
            font-size: 14vw;
        }
    
        .main .game-round-display .declare-box button {
            font-size: 3vw;
            padding: 4vw;
            border-radius: 2vw;
        }

        .main .game-round-display .declare-box p{
            font-size: 5vw;
        }
}

@media only screen and (max-width: 458px){
    .main .game-round-display .declare-box{
        bottom: -40vw;
    }
}